@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Condensed&family=Merienda&display=swap');

:root {
  --color-one: rgba(71,139,214,1);
  --color-two: rgba(37,216,211,1);
  --size: 500px;
  --searchbar-translate: -500%;

  --card-column-background: rgb(31, 30, 30);
  --card-background-color: rgb(56, 56, 56);
  --body-background: #000;
  --body-text-color: #ccc;

  --transition-animated: cubic-bezier(0.43, 0.18, 0.51, 1.66);
  --fantacy-font: 'Kaushan Script', cursive;

  // create form varables
  --display-form-status: none;
  --height-form: 30vw;
  --slider-translate: 0;
  --width-form: 55vw;
  --loading-form-animation: cubic-bezier(0.54, 0.46, 0.68, 2.56);
  --form-slider-animation: cubic-bezier(0.13, 0.57, 0.58, 1);

  // sidebar varibles
  --display-status: none;
  --sidebar-clip-path: 0px;
  --single-card-font: 'Merienda', cursive;


  // Login and signup form variables
  --form-stage-translate: 0;



  // body variables
  --scroll-y: auto;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  background: var(--body-background);
  color: var(--body-text-color);

  overflow-x: hidden;
  overflow-y: var(--scroll-y);
}

body::-webkit-scrollbar {
  width: 0;
}


@media screen and (max-width: 600px) {
  :root {
    --height-form: 500px;
    --width-form: 80vw;
  }
}