

.container-columns {
  width: fit-content;
  max-width: 95vw;
  flex: 1;
  margin: auto;

  display: flex;
  gap: 3vh;
  overflow-y: hidden !important;
  overflow-x: scroll;

  padding: 0 0 3vh 0;
}

.without-cards-conainer {
  display: grid;
  grid-template-areas: 
  "message      message       message"
  "column-one column-two column-three"
  ;
  grid-template-columns: repeat(3, 45vh);
  grid-template-rows: 17vh 80vh;
}

.container-columns::-webkit-scrollbar-track {
  margin-inline-start: 3px;
  margin-inline-end: 3px;
  background: hsla(0, 0%, 20%, 0.527);
  border-radius: 10px;
}

.container-columns::-webkit-scrollbar {
  height: 1vh;
  width: 0;
  background: var(--body-background);
}

.container-columns::-webkit-scrollbar-thumb {
  background: var(--card-background-color);
  border-radius: 2vh;
}





// Muck cards
.conteiner-message-without-cards {
  grid-area: message;

  display: flex;
  gap: 0vh;
  align-items: center;
  justify-content: center;

  font-size: 3vh;
}

.user-message {
  font-size: 4vh;
  font-family: var(--fantacy-font);

  padding: 0 1vh;
}

.user-message:first-child {
  font-family: var(--fantacy-font);

  background: linear-gradient(90deg, var(--color-one), var(--color-two));
  padding: 0 1vh;

  -webkit-background-clip: text;
  color: transparent;
}

.single-muck-column-one { grid-area: column-one }
.single-muck-column-two { grid-area: column-two }
.single-muck-column-three { grid-area: column-three }

.single-muck-column-one,
.single-muck-column-two,
.single-muck-column-three {
  background: var(--card-column-background);
  border-radius: 2vh;

  padding: 2vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh 20vh 20vh 20vh;
  grid-row-gap: 1.5vh;
}

.muck-column-title {
  background: var(--card-background-color);
  border-radius: 2vh 2vh 0 0;
  position: relative;
  overflow: hidden;

  height: 100%;
  width: 100%;
}

.loading-muck-card,
.single-muck-card {
  background: var(--card-background-color);
  border-radius: 2vh;
  position: relative;
  overflow: hidden;

  height: 100%;
  width: 100%;
}

.muck-column-title::before,
.loading-muck-card::before,
.single-muck-card::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  
  height: 150%;
  width: 150%;
  filter: blur(5px);
  background: linear-gradient(45deg, var(--card-background-color), 40%, rgb(92, 92, 92), 60%, var(--card-background-color));

  animation: card-animated 5000ms linear infinite;
}

.loading-muck-card::before {
  animation: card-animated 2000ms linear infinite;
}

.loading-muck-card {
  height: 20vh !important;
  flex: none;
  display: none;
}

.loading-column-active .loading-muck-card {
  display: block;
}


@keyframes card-animated {
  0% {
    transform: translateX(-100%) 
  }
  20% {
    transform: translateX(100%)
  }
  100% {
    transform: translateX(200%)
  }
}




@media screen and (max-width: 600px) {
  .container-columns {
    grid-template-columns: repeat(var(--columns-amount, 1), 95vw);
    scroll-snap-type: inline mandatory;

    padding: 0 0 1vh 0;
  }


  
  .container-columns::-webkit-scrollbar {
    height: .5vh;
    width: 0;
    background: var(--body-background);
  }

  
  .column:nth-child(2n - 1) {
    transform: translateY(0);
  }

  .column:nth-child(2n) {
    transform: translateY(0);
  }

  .column {
    scroll-snap-align: start;
    // height: max-content !important ;
    border-radius: 13px;
    padding: 13px;
  
    opacity: 1;
    gap: 10px;
    visibility: visible;
    scroll-snap-align: start;
  }

  .create-new-card-button {
    font-size: 20px;
  }

  .column-title-container {
    height: 70px !important;
    flex: none;
  
    border-radius: 13px 13px 0 0;
  }

  .column-title-container :nth-child(1) {
    padding: 0 10px;
    font-size: 22px;
  }
  
  .column-title-container :nth-child(2) {
    font-size: 20px;
  }

  .cards-amount {
    height: 30px;
    width: 30px;
    font-size: 15px;
  }

  .scroll-container {
    flex: none;
  }


  //  Muck card movile styles
  .without-cards-conainer {
    grid-template-areas: 
    "message"
    "column-one"
    ;
    grid-template-columns: 85vw;
    grid-template-rows: 17vh 80vh;
  }

  .single-muck-column-two { display: none }
  .single-muck-column-three { display: none }
}