

.container-columns {
  width: fit-content;
  max-width: 95vw;
  flex: 1;
  margin: auto;

  display: grid;
  gap: 3vh;
  grid-template-columns: repeat(var(--columns-amount, 1), 50vh);
  grid-template-rows: 90vh;
  overflow-y: hidden !important;
  overflow-x: scroll;

  padding: 0 0 3vh 0;
}

.without-cards-conainer {
  grid-template-areas: 
  "message      message       message"
  "column-one column-two column-three"
  ;
  grid-template-columns: repeat(3, 45vh);
  grid-template-rows: 17vh 80vh;
}

.container-columns::-webkit-scrollbar-track {
  margin-inline-start: 3px;
  margin-inline-end: 3px;
}

.container-columns::-webkit-scrollbar {
  height: 1vh;
  width: 0;
  background: var(--body-background);
}

.container-columns::-webkit-scrollbar-thumb {
  background: var(--card-background-color);
  border-radius: 2vh;
}

.column {
  position: relative;
  padding: 2vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  min-height: 80vh ;
  
  background: var(--card-column-background);
  border-radius: 2vh;

  opacity: 0;
  visibility: hidden;
  transition: 
    opacity 400ms ease,
    visibility 400ms ease,
    transform 300ms var(--transition-animated);
}

.loading-slice-column {
  padding: 2vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh 20vh 20vh 20vh;
  grid-row-gap: 2vh;
}

.create-new-card-button {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;

  height: 50%;
  aspect-ratio: 1 / 1;
  background: var(--card-background-color);
  border: 2px solid var(--body-text-color);
  color: var(--body-text-color);
  border-radius: 5px;

  font-size: 3.2vh;
  cursor: pointer;
  transition: 
    color var(--transition-animated) 400ms,
    border var(--transition-animated) 200ms;
}

.create-new-card-button:hover,
.create-new-card-button:focus {
  border: 2px solid var(--color-one);
  color: var(--color-two);
}

.column-animation {
  transform: translateY(0) !important;
  opacity: 1 !important;
  visibility: visible !important;
  animation: card_shown ease 400ms;
}

@keyframes card_shown {
  from { opacity: 0; }
  to { opacity: 1 !important; }
}
.column:nth-child(2n - 1) {
  transform: translateY(-30%);
}

.column:nth-child(2n) {
  transform: translateY(30%);
}

.scroll-container {
  flex: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  flex-grow: 1;
  width: 100%;
  height: 85%;
  padding: 0 .7vh 0 0;
  
  background: var(--card-column-background);
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll-container::-webkit-scrollbar {
  width: 4px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: var(--card-background-color);
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  margin-block-start: 2vh;
  margin-block-end: 2vh;
}

.column-title-container {
  background: var(--card-background-color);
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 4vh;
  border-radius: 1.8vh 1.8vh 0 0;

  position: relative;
}

.column-title-container :nth-child(1) {
  background-image: linear-gradient( 90deg, var(--color-one), var(--color-two));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--fantacy-font);
  padding: 0 .7vh;
  font-size: 3.5vh;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.column-title-container :nth-child(2) {
  font-weight: normal;
  padding: 0;
  
  display: flex;
  align-items: center;
  font-size: 3vh;
  text-transform: capitalize;
}

.cards-amount {
  position: absolute;
  right: -1.2vh;
  top: -1.2vh;
  height: 5.8vh;
  width: 5.8vh;
  margin: auto ;
  font-size: 2.3vh;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--single-card-font);
  border-radius: 50%;
  background: var(--card-background-color);

  border: 2px solid var(--body-text-color);
}

.cards-amount[area-text=container-total-amount] {
  cursor: pointer;
  transition: border 300ms var(--transition-animated);
}

.cards-amount[area-text=container-total-amount]:hover {
  border: 2px solid var(--color-one);
}

.cards_total_amount[area-text=total-amount] {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  font-family: serif;
  right: 120%;
  z-index: 100;
  font-size: 3.2vh !important;
  font-weight: bold;

  opacity: 0;
  visibility: hidden;

  transition: 
    opacity 200ms ease,
    visibility 200ms ease;
}

.cards-amount[area-text=container-total-amount]:hover .cards_total_amount {
  opacity: 1;
  visibility: visible;
}


// Muck cards

.conteiner-message-without-cards {
  grid-area: message;

  display: flex;
  flex-direction: column;
  gap: 0vh;
  align-items: center;
  justify-content: center;

  font-size: 3vh;
}

.user-message:first-child {
  font-size: 8vh;
  font-family: var(--fantacy-font);

  background: linear-gradient(90deg, var(--color-one), var(--color-two));
  padding: 0 1vh;

  -webkit-background-clip: text;
  color: transparent;
}

.user-message:last-child {
  font-size: 4vh;
  font-family: var(--fantacy-font);

  padding: 0 1vh;
}

.single-muck-column-one { grid-area: column-one }
.single-muck-column-two { grid-area: column-two }
.single-muck-column-three { grid-area: column-three }

.single-muck-column-one,
.single-muck-column-two,
.single-muck-column-three {
  background: var(--card-column-background);
  border-radius: 2vh;

  padding: 2vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh 20vh 20vh 20vh;
  grid-row-gap: 1.5vh;
}

.muck-column-title {
  background: var(--card-background-color);
  border-radius: 2vh 2vh 0 0;
  position: relative;
  overflow: hidden;

  height: 100%;
  width: 100%;
}

.single-muck-card {
  background: var(--card-background-color);
  border-radius: 2vh;
  position: relative;
  overflow: hidden;

  height: 100%;
  width: 100%;
}

.muck-column-title::before,
.single-muck-card::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  
  height: 150%;
  width: 150%;
  filter: blur(5px);
  background: linear-gradient(45deg, var(--card-background-color), 40%, rgb(92, 92, 92), 60%, var(--card-background-color));

  animation: card-animated 5000ms linear infinite;
}


@keyframes card-animated {
  0% {
    transform: translateX(-100%) 
  }
  20% {
    transform: translateX(100%)
  }
  100% {
    transform: translateX(200%)
  }
}




@media screen and (max-width: 600px) {
  .container-columns {
    grid-template-columns: repeat(var(--columns-amount, 1), 95vw);
    scroll-snap-type: inline mandatory;

    padding: 0 0 1vh 0;
  }


  
  .container-columns::-webkit-scrollbar {
    height: .5vh;
    width: 0;
    background: var(--body-background);
  }

  
  .column:nth-child(2n - 1) {
    transform: translateY(0);
  }

  .column:nth-child(2n) {
    transform: translateY(0);
  }

  .column {
    scroll-snap-align: start;
    // height: max-content !important ;
    border-radius: 13px;
    padding: 13px;
  
    opacity: 1;
    gap: 10px;
    visibility: visible;
    scroll-snap-align: start;
  }

  .create-new-card-button {
    font-size: 20px;
  }

  .column-title-container {
    height: 70px !important;
    flex: none;
  
    border-radius: 13px 13px 0 0;
  }

  .column-title-container :nth-child(1) {
    padding: 0 10px;
    font-size: 22px;
  }
  
  .column-title-container :nth-child(2) {
    font-size: 20px;
  }

  .cards-amount {
    height: 30px;
    width: 30px;
    font-size: 15px;
  }

  .scroll-container {
    flex: none;
  }


  //  Muck card movile styles
  .without-cards-conainer {
    grid-template-areas: 
    "message"
    "column-one"
    ;
    grid-template-columns: 85vw;
    grid-template-rows: 17vh 80vh;
  }

  .single-muck-column-two { display: none }
  .single-muck-column-three { display: none }
}