

.container-single-card {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
  background: #fff4;
  z-index: 200;
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  justify-content: center;
}

.container-single-card span {
  font-size: 8vh;
  font-family: var(--fantacy-font);
  padding: 1vh;

  background: linear-gradient( 90deg, var(--color-one), var(--color-two));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loading-sigle-card {
  display: flex;
  gap: 1vh;
}

.loading-sigle-card * {
  height: 2vh;
  width: 2vh;
  background: linear-gradient(45deg, var(--color-one), var(--color-two));
  border-radius: 2vh;

  animation: loading-card 1000ms linear calc(var(--delay-load-circle) + 500ms) infinite;
}

@keyframes loading-card {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-2vh);
  }
  30% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@for $i from 0 to 5 {
  .loading-sigle-card > :nth-child(#{$i + 1}) {
    --delay-load-circle: #{100 * $i}ms;
  }
}