
.container-error {
  position: fixed;
  top: 20vh;
  right: 10vh;
  z-index: 3000;

  background: var(--card-background-color);
  padding: 2vh 5vh;
  border-radius: .7vh;
  width: max-content;
  max-width: 80vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  box-shadow: 
    0 0 0 2px var(--body-text-color);
  transform: translateX(200%);
  
  animation: 
    error-start 300ms var(--transition-animated) forwards,
    error-and 300ms cubic-bezier(0.5,-1.03, 0.23, 0.46) 3400ms forwards ;
}

.container-error::before {
  position: absolute;
  content: "";
  top: 2vh;
  right: -2.3vh;

  background: var(--card-background-color);

  height: 4vh;
  aspect-ratio: 1 / 1;

  border-right: 2px solid var(--body-text-color);
  border-bottom: 2px solid var(--body-text-color);
  transform: rotate(-45deg);

}

.error-message-title {
  font-family: var(--single-card-font);
  font-size: 3vh;
  background: linear-gradient(90deg, var(--color-one), var(--color-two));
  padding: 0 1vh;
  -webkit-background-clip: text;
  color: transparent;
}

.shown {
  transform: translateX(0%);
}

@keyframes error-start {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes error-and {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(200%);
  }
}