



.create-card-form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

  height: 100vh;
  width: 100vw !important;
  background: #0004;
  backdrop-filter: blur(5px);
  transform: 
    translateY(-200%)
    translateX(200%);
  transition: transform 400ms ease-in-out;
}

.create-card-form-display-none {
  display: none;
}

.create-form-activated {
  transform: 
    translateY(0)
    translateX(0);
}


.form-container {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 200;
  transform: perspective(500px);

  height: var(--height-form);
  width: 55vw;
  max-width: 90vw;
  box-shadow: 
    0 0 0 5px var(--body-text-color),
    0 0 0 10vh var(--card-background-color);
  border-radius: 1vh;
  background: var(--card-background-color);

  overflow: hidden;
  padding: 0;
}

.form-loading-active {
  animation: form_animation_loading ease 500ms forwards;
}

@keyframes form_animation_loading {
  0% {
    height: var(--height-form);
    width: 110vh;
    transform: rotate(0deg);
    box-shadow: 
    0 0 0 5px var(--body-text-color),
    0 0 0 10vh var(--card-background-color);
  }
  100% {
    height: 0;
    width: 0;
    transform: rotate(-360deg);
    box-shadow: 
    0 0 0 0px var(--body-text-color),
    0 0 0 0vh var(--card-background-color);
  }
}





.slider-container {
  --slider-height: 30vw;
  position: relative;
  transform: translateY(var(--slider-translate));
  transition: transform var(--form-slider-animation) 500ms;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, var(--slider-height));

  input,
  textarea {
    border: 2px solid var(--body-text-color);
    outline: none;
    resize: none;
    color: inherit;

    font-size: 2.3vh;
    font-family: inherit;
  }

  input:focus,
  textarea:focus {
    border: 2px solid var(--color-one);
  }

  input::placeholder,
  textarea::placeholder {
    font-family: var(--fantacy-font);
  }
  
  button {
    border: 2px solid var(--body-text-color);
    border-left: 0;
    color: inherit;

    cursor: pointer;
  }

  button:hover,
  button:focus {
    border: 2px solid var(--color-one);
  }
}


.inputs {
  height: 7vh;
  width: 70%;
  display: flex;

  border-radius: 4vh;
  position: relative;
  overflow: visible;
}

.inputs:before {
  position: absolute;
  bottom: -100%;
  width: fit-content;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: attr(area-text);
}

.stage-one-img,
.stage-two-img,
.stage-three-img,
.stage-four-img {
  position: absolute; 
  bottom: 0;
  left: 0;

  height: 100%;
  aspect-ratio: 1 / 1;
  border: 2px solid #ccc;
  object-fit: cover;

  -webkit-mask-image: url("../assets/stage-one-svg.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: start;
}

.stage-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;

  position: relative;
  

  
  
  .create-card-form-title {
    grid-area: title;

    width: fit-content;
    margin: 0;
    padding: 0 1vh;
    user-select: none;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fantacy-font);
    font-size: 7vh;

    background: linear-gradient(90deg, var(--color-one), var(--color-two));
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
  }


  input {
    height: 7vh;
    flex-grow: 1;

    padding: 0 2rem;
    border-radius: 4vh 0 0 4vh;
    background: var(--card-column-background);
  }
  
  button {
    padding: 0 4vh;
    border-radius: 0 4vh 4vh 0;
    background: var(--card-column-background);
  }
  
  button:hover {
    border: 2px solid var(--color-one);
    border-left: none;
  }
}


.stage-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;

  position: relative;



  .stage-two-img {
    left: 50%;
  }

  span {
    z-index: 100;

    font-family: var(--fantacy-font);
    font-size: 5vh;
  }


  input {
    height: 7vh;
    flex-grow: 1;


    padding: 0 2rem;
    background: var(--card-column-background);
  }

  button {
    padding: 0 4vh;
    border-radius: 0 4vh 4vh 0;
    background: var(--card-column-background);
  }
  
  button:nth-child(1) {
    border-radius: 4vh 0 0 4vh;
    border: 2px solid var(--body-text-color);
    border-right: 0;
  }

  button:hover,
  button:focus {
    border: 2px solid var(--color-one);
    border-left: 0;
  }
  
  button:nth-child(1):hover,
  button:nth-child(1):focus {
    border: 2px solid var(--color-one);
    border-right: 0;
  }
}


.stage-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;

  position: relative;
  
  .stage-three-img {
    right: 0;
    margin: auto;
  }
  
  span {
    z-index: 100;
    
    font-size: 5vh;
    padding: 0 10%;
    font-family: var(--fantacy-font);
  }

  .inputs {
    width: 90%;
  }

  .status-option {
    max-height: 7vh;
    width: fit-content;
    
    flex-grow: 1;
    margin: 0 1vh;
    cursor: pointer;
    user-select: none;

    display: grid;
    place-items: center;
    border-radius: 4vh;
    font-size: 1.3vw;
    border: 2px solid var(--body-text-color);
    background: var(--card-column-background);
  }
  
  .status-option:hover {
    border: 2px solid #333;
  }

  button {
    padding: 0 4vh;
    border-radius: 0 4vh 4vh 0;
    background: var(--card-column-background);
  }
  
  .before-and-after-buttons {
    margin: 0 4vh;
  }
  
  .before-and-after-buttons:nth-child(1) {
    border-radius: 4vh 0 0 4vh;
    border: 2px solid var(--body-text-color);
    border-right: 0;
  }

  .before-and-after-buttons:hover,
  .before-and-after-buttons:focus {
    border: 2px solid var(--color-one);
    border-left: 0;
  }

  .before-and-after-buttons:nth-child(1):hover,
  .before-and-after-buttons:nth-child(1):focus {
    border: 2px solid var(--color-one);
    border-right: 0;
  }

  .status-option[area-button=applyed] {
    border: 2px solid var(--color-two);
  }

  .status-option[area-button=interview] {
    border: 2px solid rgb(42, 143, 29);
  }
  
  .status-option[area-button=rejected] {
    border: 2px solid rgb(143, 29, 29);
  }
}


.stage-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;

  position: relative;
  
  .stage-four-img {
    left: -5%;
    bottom: -10%;
  }

  span {
    z-index: 100;
    
    font-size: 3.5vh;
    padding: 0 10%;
    font-family: var(--fantacy-font);
  }

  .inputs {
    flex-direction: column;
    gap: 2vh;
    min-height: 27vh;
    border-radius: 0px;

    align-items: center;
  }

  .description {
    height: 20vh;
    width: 100%;

    padding: 2vh;
    border-radius: 2vh;
    background: var(--card-column-background);
    border: 2px solid var(--body-text-color);
  }

  .description::-webkit-scrollbar {
    width: 0;
  }
  
  .description-prev-button {
    padding: 2vh 5vh;
    background: var(--card-column-background);
    border: 2px solid var(--body-text-color);

    border-radius: 4vh;
    cursor: pointer;
  }

  .create-card-form-button {
    height: 7vh;
    width: 50%;
    border-radius: 5vh;
    z-index: 100;

    background: var(--card-column-background);
    border: 2px solid var(--body-text-color);

    font-family: var(--fantacy-font);
    font-size: 3vh;
    user-select: none;

    transition: 
      border 300ms var(--transition-animated);
  }

  .create-card-form-button:hover {
    border: 2px solid var(--color-one);
  }

}


.close-create-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  height: var(--height-form);
  width: var(--width-form);

  background: var(--card-background-color);
}

.close-form-loading-active .close-form-icon {
  display: none;
}

.form-jobhunter-icon {
  display: none;
}

.close-form-loading-active .form-jobhunter-icon {
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  border: 2px solid #ccc;
  border-radius: 50%;

  height: calc(var(--height-form) / 2.3);
  aspect-ratio: 1 / 1;
}

.close-form-loading-active::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  background: var(--card-background-color);
  animation: 
    close_form_loading 1000ms cubic-bezier(1, 0.69, 0.36, 0.9) 500ms infinite;
}

.close-form-loading-active {
  animation: 
    close_form_animation 500ms var(--loading-form-animation) forwards;
}

@keyframes close_form_animation {
  0% {
    height: var(--height-form);
    width: var(--width-form);
    transform: rotate(0deg);
  }
  100% {
    height: 30vh;
    width: 30vh;
    transform: rotate(360deg);
    border-radius: 50%;
  }
}

@keyframes close_form_loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.close-create-form .close-form-icon {
  height: 5vh;
  width: 5vh;
  z-index: 300;

  position: absolute;
  top: 3vh;
  right: 3vh;

  cursor: pointer;
}

.close-create-form .close-form-icon:focus {
  animation: close-icon 500ms var(--transition-animated);
}

@keyframes close-icon {
  to {
    transform: rotate(360deg);
  }
}

// Not allowed Button

.not-allowed {
  cursor: not-allowed !important;
  color: #333 !important;
}

.not-allowed:hover,
.not-allowed:focus {
  border: 2px solid var(--body-text-color) !important;
  border-left: none !important;
}


@media screen and (max-width: 600px) {
  .form-container {
    width: 80vw;
    box-shadow: 
      0 0 0 5px var(--body-text-color),
      0 0 0 5vh var(--card-background-color);
    border-radius: 0.5vh;
  }

  .slider-container {
    --slider-height: 500px;

    grid-template-columns: 100%;
    grid-template-rows: repeat(4, var(--slider-height));
    padding: 0 2vh;
  }  

  .stage-one-img,
  .stage-two-img,
  .stage-three-img,
  .stage-four-img {
    height: 70%;
  }

  .inputs {
    width: 90%;
    display: grid;

    grid-template-areas: 
      "input input input input"
      "btn-left ... ... btn-right"
    ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5vh 4vh;
    grid-row-gap: 2vh;

    button:hover {
      border: 2px solid var(--color-one) !important;
    }
  }

  .stage-one {

    .stage-one-img {
      left: -15%;
      top: 20%;
    }

    .create-card-form-title {
      font-size: 5vh;
    }

    input {
      grid-area: input;
      height: 5vh;
      flex-grow: 0;
      border-radius: 4vh;
      padding: 0 1.5rem;
    }

    button {
      padding: 0 1vh;
      font-size: 1.5vh;
      border-radius: 4vh;
      border: 2px solid var(--body-text-color);
    }
  }  

  .stage-one button {
    grid-area: btn-right;
  }

  .stage-two {

    .stage-two-img {
      left: -10%;
      top: 0;
    }

    input {
      grid-area: input;
      height: 5vh;
      border-radius: 4vh;
      padding: 0 1.5rem;
    }

    button {
      padding: 0 1vh;
      font-size: 1.5vh;
      border-radius: 4vh;
      border: 2px solid var(--body-text-color);
    }
  }
  
  .stage-two .stage-two-buttons:nth-child(1) {
    grid-area: btn-left;
    border-radius: 4vh;
    border: 2px solid var(--body-text-color);
  }
  
  .stage-two .stage-two-buttons:nth-child(3) {
    grid-area: btn-right;
  }

  .stage-three {

    .inputs {
  
      grid-template-areas: 
        "option-one option-two option-three"
        "btn-left .............. btn-right"
      ;
      grid-template-columns: repeat(3, 31%);
      grid-template-rows: 5vh 4vh;
      grid-column-gap: 1vh;
      width: 90%;
    }
    
    .stage-three-img {
      left: -15%;
    }

    .status-option {
      width: 100%;
      
      flex-grow: 0;
      margin: 0 ;
      font-size: 1.4vh;
    }

    .status-one{
      grid-area: option-one;
    }

    .status-two{
      grid-area: option-two;
    }

    .status-three{
      grid-area: option-three;
    }

    button {
      padding: 0 1vh;
      font-size: 1.5vh;
      border-radius: 4vh;
      border: 2px solid var(--body-text-color);
    }

    .before-and-after-buttons {
      margin: 0 ;
    }

    .stage-three-btn-one {
      grid-area: btn-left;
      border-radius: 4vh !important;
      border: 2px solid var(--body-text-color) !important;
    }

    .stage-three-btn-two {
      grid-area: btn-right;
    }
  }

  .stage-four {

    .inputs {
  
      grid-template-areas: 
        "description description description description"
        "btn-left ............ .............. btn-right"
      ;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 20vh 4vh;
    }
    
    .stage-four-img {
      top: 15%;
      left: -10%;
    }

    .description {
      grid-area: description;
    }

    .description-prev-button {
      grid-area: btn-left;
      
    }

    .description-prev-button {
      padding: 1vh 5vh;
      font-size: 1.5vh;
    }
  }

  .create-card-form-button {
    width: 90% !important;
  }

  .close-form-loading-active .form-jobhunter-icon {
    height: calc(var(--height-form) / 3);
  }
}
