
.login-background-color {
  height: 100vh;
  width: 100vw;
  padding: 3vw 0;
  margin: 0;
  
  background: linear-gradient(270deg,transparent, 30%, #000 );

  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.form-logIn {
  height: 95vh;
  width: 58vh;
  background: var(--card-column-background);
  margin: 0 20vh;

  padding: 5vh 4vh 10vh 4vh;
  border-radius: 2vh;

  display: flex;
  flex-direction: column;
  gap: 2vh;
  position: relative;

  transform: translateX(-150%);
  animation: tras-form-login 500ms var(--transition-animated) forwards;
}

@keyframes tras-form-login {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}