

.container-main-page-backdrop {
  padding: 0 0 2vh 0;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}


.container-filters-navbar {
  width: 100%;
  padding: 0;

  display: flex;
  gap: 7vh;
  justify-content:center;
}

.container-filters-navbar .show-cards {
  padding: 1vh 3vh;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
}

.show-card-active {
  background: linear-gradient(90deg, var(--color-one), var(--color-two));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}