

// Page styles
.registration-container {
  background-image: url("../assets/registration-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  object-fit: cover;
  height: 100vh;
  width: 100vw;
}


.registration-background-color {
  height: 100vh;
  width: 100vw;
  padding: 0; 
  margin: 0;
  
  background: linear-gradient(270deg, #000, 70%, transparent);

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.registration-form {
  height: 95vh;
  width: 58vh;
  background: var(--card-column-background);
  margin: 0 20vh;

  padding: 5vh 4vh 10vh 4vh;
  border-radius: 2vh;

  display: flex;
  flex-direction: column;
  gap: 2vh;

  transform: translateX(150%);
  animation: tras-form 500ms var(--transition-animated) forwards;
}

@keyframes tras-form {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}

.form-title {
  display: flex;
  justify-content: center;
  font-size: 4vh;
  font-family: var(--fantacy-font);

  background-image: linear-gradient( 90deg, var(--color-one), var(--color-two));
  -webkit-background-clip: text;
  background-clip: text;
  color:  transparent;
}


// Password varification parameters
.form-password-verification-parameters {
  position: absolute;
  right: 105%;
  top: 0;
  bottom: 0;
  margin: auto;

  display: flex;
  justify-content: center;
  gap: 3vh;
  flex-direction: column;
  padding: 5vh;
  width: 35vh;
  height: 0;
  overflow: hidden;

  background: var(--card-background-color);
  border-radius: 1vh;
  z-index: 20;

  animation: password_verification_animation 300ms ease forwards;
}

.block-text {
  color: #818181;
  text-decoration: line-through;
}

@keyframes password_verification_animation {
  from { height: 0; }
  to { height: 95vh; }
}






// Slider inputs container

.inputs-slider-container {
  height: 100%;
  width: 100%;
  border: 2px solid #cccccc6c;
  border-radius: 1vh;

  display: grid;
  // grid-template-areas: 
  //   "userName lastName userEmail password"
  // ;
  grid-template-columns: repeat(4, 100%);
  grid-template-rows: 100%;
  overflow: hidden;
}

.stage-form-background-image {
  height: 100%;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  filter: grayscale(0.7) brightness(1);
  transition: filter 500ms ease-in-out;

  -webkit-mask-image: url("../svgs/01_image.svg");
  mask-image: url("../svgs/01_image.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.full-grayscale-active {
  filter: grayscale(0) brightness(1.3);
}




//  Stage form container
.stage-form-container {
  height: 100%;
  width: 100%;

  display: flex;
  gap: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  transform: translateX(var(--form-stage-translate));
  transition: transform ease 300ms;
}

.stage-message {
  font-family: var(--single-card-font);
  font-size: 3vh;
}

.stage-form-input {
  border: none;
  outline: none;
  color: inherit;

  height: 7vh;
  width: 75%;
  border-radius: 1vh;
  background: var(--card-background-color);
  padding: 0 3vh;

  font-size: 2.2vh;
  font-family: inherit;
}

.stage-form-input:focus {
  background: #2c2c2c;
}

.stage-form-input::placeholder {
  color: #ccc;
  opacity: 0.7;
}

.stage-form-arrows {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;

  height: 4vh;
  aspect-ratio: 1 / 1;
  border-top: 3px solid var(--body-text-color);
  border-right: 3px solid var(--body-text-color);
  cursor: pointer;
}

.stage-form-arrows.arrow-right {
  right: 2vh;
  transform: rotate(45deg);
}

.stage-form-arrows.arrow-left {
  left: 2vh;
  transform: rotate(-135deg);
}




// Stage one special styles
.stage-form-one {
  gap: 7vh;
}

.form-acount-message {
  display: flex;
  align-items: center;

  width: 70%;
}

.form-message {
  flex-grow: 1;
}

.form-acount-link {
  text-decoration: none;
  background: linear-gradient(90deg, var(--color-one), var(--color-two));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  font-family: var(--single-card-font);
  position: relative;
}

.form-acount-link::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  height: 2px;
  width: 0;
  border-radius: 10vh;
  background: linear-gradient(90deg, var(--color-one), var(--color-two));
  transition: width 300ms ease;
}

.form-acount-link:hover::before {
  width: 100%;
}





// Stage four special styles
.stage-form-four {
  gap: 5vh;
}

.stage-form-four .stage-form-input {
  width: 100%;
}

.single-input-form-password {
  position: relative;
  width: 75%;
}

.form-is-visible-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2vh;
  margin: auto;

  height: 3vh;
}

.form-submit-button {
  padding: 2vh 5vh;
  width: 75%;
  border: none;
  border-radius: 1vh;
  background-color: var(--card-background-color);
  color: inherit; 

  cursor: pointer;
  font-size: 3vh;
  font-family: var(--single-card-font);
  transition: transform 300ms ease;
}

.unclickble-button {
  color: #494949;
  cursor: not-allowed;
}

.form-submit-button:hover {
  background: #474747;
}

.form-submit-button:focus {
  transform: scale(0.9);
}

.unclickble-button:hover {
  background-color: var(--card-background-color);
}

.unclickble-button:focus {
  transform: scale(1);
}

