
.single-card {
  flex: none;

  display: flex;
  flex-direction: column;
  z-index: 10;

  width: 100%;
  gap: 1vh;

  padding: 1.5rem 1rem;
  border-radius: 1.5vh;
  background: var(--card-background-color);
  overflow: hidden;
  transition: transform 300ms var(--transition-animated);

  position: relative;
}

.single-card:hover {
  transform: scale(.97);
}

.card-information-role,
.card-information-company,
.card-information-status {
  padding: 0;
  margin: 0;
  display: flex;
  text-transform: capitalize;
  padding: 0.5vh;
  overflow-x: auto ;

  z-index: 11;
}

.card-information-status::-webkit-scrollbar {
  height: 3px;
  border-radius: 5vh;
  background: #cccccc56;
}

.card-information-status::-webkit-scrollbar-thumb {
  height: 3px;
  border-radius: 5vh;
  background: #ccccccbb;
}

.card-information-role {
  text-transform: capitalize;
  width: fit-content;
  font-family: var(--single-card-font );
  font-size: 2.7vh !important;
  padding: 0 .5vh;
  background: linear-gradient(45deg, var(--card-background-one, inherit), var(--card-background-two, inherit));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent ;
}





// Delete message
.delete-message {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;

  background: var(--card-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;

  transform: translateY(-100%) translateX(100%);
  transition: transform 300ms var(--transition-animated)
}

.message-open {
  transform: translateY(0%) translateX(0%);
}

.singlecard-delete-message-title {
  font-size: 2.5vh;
}

.singlecard-delete-button {
  padding: 1vh 3vh;
  border: none;
  border-radius: .5vh;
  background: var(--card-background-color);
  border: 2px solid var(--body-text-color);
  transition: 
    color 200ms ease-in-out
    border 200ms ease-in-out;
  font-family: var(--single-card-font);

  font-weight: bold;
  color: inherit;
  cursor: pointer;
}

.singlecard-delete-button:hover,
.singlecard-delete-button:focus {
  border-color: var(--color-one);
  color: var(--color-two);
}

.singlecard-close-button {
  position: absolute;
  border: none;
  top: 2vh;
  right: 2vh;
  background: var(--card-background-color);

  height: 4vh;
  aspect-ratio: 1 / 1;
  color: rgb(107, 13, 13);

  padding: 0;
}

.singlecard-close-button:focus-within {
  animation: single_card_close_button 300ms ease-in-out;
}

.singlecard-close-button-icon {
  height: 100%;
  cursor: pointer;
}





// single cards menu container
.single-card-menu-container {

  --single-card-background: var(--card-background-color);

  position: absolute; 
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 0 1.75rem 0 0;
  border-radius: .5vh;
  
  height: 100%;
  max-height: 25vh;
  width: 2vh;
  z-index: 20;
  overflow: hidden;
  background-color: var(--single-card-background);
  
  & *:not(.single-card-menu-icon, .menu-single-dot) {
    opacity: 0;
    transition: opacity 200ms ease-in-out 100ms;
  }
  transition: width 350ms ease-in-out;
}

.single-card-menu-containe-active {
  width: 100%;

  & *:not(.single-card-menu-icon, .menu-single-dot) {
    opacity: 1;
  }
}


.single-card-menu-icon {
  position: absolute;
  top: 2vh;
  right: 1vh;

  height:4vh;
  width: 1.5vh;
  cursor: pointer;
  z-index: 5;
}

.icon-clicked { animation: menu_icon_animation 300ms ease; }

@keyframes menu_icon_animation {
  0%, 100% { transform: scale(1) }
  50% { transform: scale(.7) }
}

.menu-single-dot {
  position: absolute;
  content: "";
  inset: 0;
  margin: auto;

  height: .5vh;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #ccc;
}

.menu-single-dot:nth-child(2) {
  top: 0;
  right: 0;
  transform: translateY(-1vh);
}

.menu-single-dot:nth-child(3) {
  top: 0;
  right: 0;
  transform: translateY(1vh);
}





// Card menu opstions container
.single-card-menu-container-options {
  height: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: .5vh;
  padding: 1vh 0 1vh 4vh;
}

.single-card-menu-containe-active .single-card-menu-container-options  {
  padding: 1vh 0 1vh 2vh;
}

.card-menu-single-option-container {
  width: 100%;
  flex-grow: 1;
  min-width: max-content;

  padding: 0 .5rem;
  border-radius: .5vh;
  cursor: pointer;

  display: flex;
  align-items: center;

  transition: background-color 200ms ease;
}

.card-menu-single-option-container:hover {
  background-color: #fff1 ;
}

.card-menu-option-message {
  flex-grow: 1;
  font-family: var(--single-card-font);
  font-size: 2.2vh;
}

.card-menu-option-icon {
  height: 2.5vh;
}




// Single card select status container
.single-card-select-status-container {
  position: absolute;
  inset: 0;
  margin: auto;

  height: 100%;
  max-height: 22vh;
  width: 1px;
  border-radius: .5vh;
  overflow: hidden;

  background: var(--card-column-background);

  display: flex;
  flex-direction: column;
  gap: .5vh;
  padding: 1vh 2vh;

  opacity: 0;
  visibility: hidden;

  transition: 
    opacity 300ms ease-in-out,
    visibility 300ms ease-in-out,
    width 300ms ease-in-out;
}

.single-card-select-status-open {
  opacity: 1;
  visibility: visible;
  width: 90%
}


.select-status-hidden-color::before { 
  position: absolute; 
  content: ""; 
  inset: 0;
  background: var(--card-column-background);
}

.single-card-status-option {
  width: 100%;
  flex-grow: 1;
  border-radius: .5vh;
  background-color: #fff1;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--single-card-font);
  padding: 0 3vh;
  transition: background-color 200ms ease;
  cursor: default;
  user-select: none;
}

.single-card-status-option[area-text=applied] { color: var(--card-background-one) }
.single-card-status-option[area-text=interview] { color: var(--card-background-one) }
.single-card-status-option[area-text=rejected] { color: var(--card-background-one) }


.single-card-status-option:hover {
  background-color: #fff2;
}






@keyframes single_card_close_button {
  to { transform: rotate(360deg)}
}

@media screen and (max-width: 600px) {
  .single-card {
    gap: 10px;
    padding: 15px 35px 15px 15px;
  }

  .card-information-role,
  .card-information-company,
  .card-information-status {
    padding: 0 15px;
    font-size: 22px;
  }

  .card-information-role {
    font-size: 27px !important;
    padding: 0 15px;
  }

  .container-card-menu {
    right: 10px;
    width: 25px;
    padding: 15px 0 5px 0;
    gap: 10px;
  }


  .container-card-menu > img {
    height: 20px;
    width: 20px;
  }

  .open-status-selector {
    height: 15px;
    margin-left: 20px;
  }

  .container-select-status {
    gap: 5px;
  }

  .card-information-status:focus-within .container-select-status {
    height: 70px ;
    padding: 10px 0;
  }
}