

.loader-container {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  background: #fff3;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-loader {
  height: 20vh;
  width: 20vh;

  border-radius: 50%;
  border: 5px solid #0001;
  border-top: 5px solid rgb(35, 191, 243);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  animation:  loader-form 1000ms linear infinite;
}

.job-hunter-icon {
  height: min-content;
  width: min-content;

  border-radius: 50%;
  padding: 10px;

  font-size: 9vh;
  font-family: var(--fantacy-font);
  background: linear-gradient(90deg, var(--color-one), var(--color-two));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation:  loader-form 1000ms linear infinite reverse;
}

@keyframes loader-form {
  from {
    transform: rotate(0deg),
  }
  to {
    transform: rotate(360deg),
  }
}