

.loader-container {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
  z-index: 1000;

  background: #0005;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-loader {
  height: 20vh;
  width: 20vh;

  border-radius: 50%;
  border: 5px solid #ccc3;
  border-top: 5px solid rgb(35, 191, 243);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  animation:  loader-form 1000ms linear infinite;
}

.job-hunter-icon {
  height: 120%;
  width: min-content;

  border-radius: 50%;
  padding: 10px;

  animation:  loader-form 1000ms linear infinite reverse;
}

@keyframes loader-form {
  from {
    transform: rotate(0deg),
  }
  to {
    transform: rotate(360deg),
  }
}